*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #333;
    opacity: 0;
    transition: opacity 1s ease;
}


header{
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;

}
nav{
    background-color: #333333fd;
    padding: 10px;
    text-align: center;
}
nav a{
    color: white;
    margin: 0 2px;
    display: inline;
    text-decoration: none;
    justify-content: space-around;
   
}
nav a:hover{
    color: #1e90fd;
}
.home{
    background-color: #565656;
    color: white;
    padding: 1rem 0 0 0;
}
.home_item{
    display: flex;
    flex-direction: column;
}
.home_ava img{
    max-width: 400px;
    border-radius: 100%;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
h1{
    font-size: 2rem;
}
.photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #333;
}
.photo:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
section {
    padding: 30px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}
h2 {
    color: #1e90ff;
}


footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
}

